body {
  /* background: url("images/background.png"); */
  background: rgb(137, 207, 240)
}

.fullgrid {
  padding-top: 5%;
  display: grid;
  grid-template-rows: repeat(4, 90px);
  row-gap: 20px;
  justify-items: center;
}

.rowgrid {
  display: grid;
  grid-template-columns: repeat(4, 130px);
  column-gap: 20px;
  justify-items: center;
}

.button {
  width: 130px;
  height: 90px;
  background-color: rgb(239, 237, 237);
  transition: background-color 0.3s, transform 0.3s;
  font-family: Arial;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(239, 237, 237);
}

.button:hover {
  background-color: rgb(185, 184, 184);
  transform: translateY(2px);
}

.pressed {
  background-color: rgb(55, 55, 55);
  color: white;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}

.pressed:hover {
  background-color: rgb(126, 126, 126);
  border-color: black;
  border-width: 3px;
  border-style: solid;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
    /* Adjust the jump height as needed */
  }

  100% {
    transform: translateY(0);
  }
}

.win1 {
  background-color: rgb(223, 43, 226);
  animation: correctAnswer 0.5s ease-in-out;
}

.win1:hover {
  border-style: none;
  background-color: rgb(223, 43, 226);
}

.win2 {
  background-color: rgb(226, 223, 43);
  animation: correctAnswer 0.5s ease-in-out;
}

.win2:hover {
  background-color: rgb(226, 223, 43);
}

.win3 {
  background-color: rgb(23, 179, 39);
  animation: correctAnswer 0.5s ease-in-out;
}

.win3:hover {
  background-color: rgb(23, 179, 39);
}

.win4 {
  background-color: rgb(62, 75, 219);
  animation: correctAnswer 0.5s ease-in-out;
}

.win4:hover {
  background-color: rgb(62, 75, 219);
}

.lives {
  display: grid;
  grid-template-columns: 50px 20px 20px 20px 20px;
  column-gap: 10px;
  justify-items: center;
  justify-content: center;
  margin-top: 20px;
}

svg {
  margin-top: 15px;
}

@keyframes AnimateAll {
  0% {
    transform: translateY(0) translateX(0);
  }

  99% {
    transform: translateY(calc(80px * var(--y))) translateX(calc(140px * var(--x)));
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

.rectangle {
  display: flex;
  width: 540px;
  height: 60px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  margin-left: 420px;
}

.title .text {
  display: block;
}

.title {
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-weight: bold;
  font-family: "NYT-Franklin";
  z-index: 1;
}

.text {
  font-size: 16px;
  font-family: "NYT-Franklin";
  margin-top: 10px;
  margin-bottom: 5px;
  z-index: 1;
}

#rectangle1 {
  background-color: rgb(223, 43, 226);
}

#rectangle2 {
  background-color: rgb(226, 223, 43);
}

#rectangle3 {
  background-color: rgb(23, 179, 39);
}

#rectangle4 {
  background-color: rgb(62, 75, 219);
}

.streak-counter {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  /* Cloud-like background color */
  border-radius: 20px;
  /* Round corners to give a cloud-like shape */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  /* Add a subtle shadow */
  font-family: Arial;
  font-weight: bold;
}

.streak-counter p {
  margin: 5px 0;
}

.streak-counter span {
  font-weight: bold;
  color: #333;
  /* Text color */
}

.popup-container {
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  /* Center .game-over-popup in the viewport */
  /* top: 50%;
  left: 50%; */
  /* top: 0;
  left: 0; */
  /* transform: translate(-50%, -50%); */
  /* background-color: rgba(255, 255, 255, 0.9); */

  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.warning-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Add this line */
  align-items: center;
  /* Centers the content horizontally */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: white; */
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-family: Arial;
  font-weight: bold;
  /* Add box shadow for depth */
}

.game-over-popup {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Add this line */
  align-items: center;
  /* Centers the content horizontally */

  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  /* background-color: white; */
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-family: Arial;
  font-weight: bold;
  /* Add box shadow for depth */
}

.popup button {
  display: relative;
  margin: 0 auto;
}

.close-btn {
  /* margin-top: 20px; */
  /* Adjust spacing from message */
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: rgb(97, 97, 97);
  color: white;
}

.dictionary-btn img {
  width: 50px;
  height: 50px;
}

.dictionary-btn-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.dictionary-btn {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 90px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-weight: bold;
  font-size: 18px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 60%;
  transform: translateX(-50%);
  /* Center the tooltip horizontally */
}

.dictionary-btn:hover .tooltip-text {
  visibility: visible;
}

.instructionsBtn:hover .tooltip-text {
  visibility: visible;
}

.homeBtn:hover .tooltip-text {
  visibility: visible;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}