body {
    margin: 0;
    padding: 0;
    font-family: "NYT-Franklin";
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* Set text color to white */
    /* background: url('images/background.png'); */
    background: rgb(137, 207, 240);
    background-size: cover;
    background-position: center;
}